@charset "utf-8";

/*웹브라우저는 각각 가지고 있는 기본 스타일이 다르다.
	기본 스타일을 초기화 하기나 일반화 해야한다.*/

/*선택자 Selector*/
/*요소 선택자 Type Selector*/

/*Division = Block Level Element*/

html {
	font-size: 120%;
	
}
body {
	margin: 0;
	/*font-size: 0.875rem;*/
	/*line-height: 1.5;*/
	color: #111215;
	line-height: 1.5rem;
}


div {

	margin: 10px;
	border-top: 10px solid #FF7F00;
	border-bottom: 10px solid #34C0FF;
	border-left: 10px solid #FFFF00;
	border-right: 10px solid #00FF00;
	/*padding: 16px;*/
	padding: 1em;
	background: #333;
	color: #fff;
	font-size: 14px;

}

#page-header {
	background: #FC414B;
}

.no-space {
	width: 0;
	height: 0;
	padding: 0;
}

#page-navigation {
	/*margin-top: -20px;*/
}

/*초기화: 공간 재거, 두깨 제거, 크기 기본화*/
/*Grouping*/
h1, h2, h3, h4, h5, h6, p {
	margin-top: 0;
	margin-bottom: 1.5rem;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: normal; /*400*/
	font-size: 100%; /*16px*/
}


/*제목 간 크기 비율*/
h5 {
	font-size: 1.23rem;
	line-height: 3rem;
}

h4 {
	font-size: 1.5rem;
	line-height: 3rem;
}

h3 {
	font-size: 1.84rem;
	line-height: 3rem;
}

h2 {
	font-size: 2.25rem;
	line-height: 4.5rem;
}

h1 {
	font-size: 2.76rem;
	/*line-height: 63px;*/
	/*line-height: 1.630434783;*/
	line-height: 4.5rem;
}


/*가이드 디자인*/
/*본문 크기에 상대적인 행간 설정된 놓이만큼 수평선을 그린다*/
.guide {
	/*height: 100vh;*/
	/*lg(180deg, transparent 95%, #B9121B 95%)*/
	background-image: linear-gradient(transparent 95%, #B9121B 95%);
	background-size: 1px 1.5rem;
}

p {
	margin-top: 0;
	margin-bottom: 1.5em;
}

/*Abbreviation UI Style*/
abbr {
	cursor: help;
}


/*목록 (List) Design*/
ul, ol {
	/*목록 초기*/
	list-style-type: none;
	padding-left: 0;
	margin-top: 0;
	margin-bottom: 0;
}

ul ul {
	/*자손 선택자 ... parent/children selector*/
	padding-left: 2rem;

}



